@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(43, 43, 98), rgb(160, 61, 165));
}

.player-info {
  width: 15%;
  height: 5%;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.511);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  box-shadow: 1px 1px 5px rgba(52, 51, 51, 0.568);
}

.game-area {
  width: 90%;
  max-width: 25rem;
  aspect-ratio: 1/1;
  padding: 20px;
  background-color: rgba(224, 224, 224, 0.233);
  border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  backdrop-filter: blur(20px);
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.box1,
.box4,
.box2,
.box5 {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.box3,
.box6 {
  border-bottom: 2px solid white;
}

.box7,
.box8 {
  border-right: 2px solid white;
}

.box1 {
  border-radius: 8px 0px 0px 0px;
}

.box3 {
  border-radius: 0px 8px 0px 0px;
}

.box7 {
  border-radius: 0px 0px 0px 8px;
}

.box9 {
  border-radius: 0px 0px 8px 0px;
}

.btn-div {
  width: 15%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-div:hover {
  transform: scale(1.2);
}

.newgamebtn {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  appearance: none;
  border: 1px solid transparent;
  font-size: 1.5rem;
  box-shadow: 1px 1px 10px rgba(52, 51, 51, 0.568);
  cursor: pointer;
  opacity: 0;
  box-shadow: 2px 2px 15px white;
}

.newgamebtn.active {
  opacity: 1;
}

.btn-div > img {
  width: 25%;
  position: absolute;
  top: -45px;
  right: -15px;
  opacity: 0;
  z-index: 55;
}

.btn-div > img.active {
  opacity: 1;
}

.win {
  background-color: rgb(142, 219, 142);
}

@media (min-width: 250px) and (max-width: 500px) {
  .player-info {
    width: 50%;
  }

  .btn-div {
    width: 50%;
  }

  .newgamebtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .player-info {
    width: 30%;
  }

  .btn-div {
    width: 30%;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .player-info {
    width: 20%;
  }

  .btn-div {
    width: 20%;
  }
}
